<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        
         <RollingFile name="LogInfoToRollingFile" fileName="/logs/app.log"
                     filePattern="logs/$${date:yyyy-MM}/CMS-%d{MM-dd-yyyy}-%i.log.gz">
            
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %5p %3tid [%l] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval = "7" />
                <SizeBasedTriggeringPolicy size="100 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
       
        
        
      </Appenders>
    <Loggers>
        <Root level="Debug">
            <AppenderRef ref="LogInfoToRollingFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>
